.row-content-notify{
    width: 100%;
    margin-top: 15px;
    background: #1a1a1a;
    border-bottom: 3px solid #ff0057;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    /* align-items: center; */
}
/* clock font-size */
.row-content-notify>div>button{
    background: #1a1a1a;
    font-size: 60px;
    align-items: center;
    float: left;
}
.row-content-notify>div>div>button{
    background: #1a1a1a;
    font-size: 50px;
    align-items: center;
    float: left;
}